{% import "_includes/forms" as forms %}

{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% set title = craft.seomatic.getPluginName() %}

{% set fullPageForm = true %}

{% set docsUrl = "https://github.com/nystudio107/seomatic/wiki" %}

{% set seomaticSections = {
    seometrics: { label: "SEOmetrics"|t, url: url('seomatic/seometrics') },
    meta:       { label: "Template Meta"|t, url: url('seomatic/meta') },
    site:       { label: "Site Meta"|t, url: url('seomatic/site') },
    identity:   { label: "Site Identity"|t, url: url('seomatic/identity') },
    social:     { label: "Social Media"|t, url: url('seomatic/social') },
    creator:    { label: "Site Creator"|t, url: url('seomatic/creator') },
    settings:   { label: "Settings"|t, url: url('seomatic/settings') },
} %}

{% set crumbs = [
    { label: craft.seomatic.getPluginName(), url: url('seomatic') },
    { label: "Settings"|t, url: url('seomatic/settings') },
] %}

{% if craft.app.version < 2.5 %}
    {% set tabs = seomaticSections %}
    {% set selectedTab = 'settings' %}
{% else %}
    {% set subnav = seomaticSections %}
    {% set selectedSubnavItem = 'settings' %}
{% endif %}

{% set content %}

<!-- Needed for for Craft < 2.5 -->

    {% if craft.app.version < 2.5 %}
    <form id="settings-form" method="post" accept-charset="UTF-8" data-saveshortcut="1">
    {% endif %}

    <input type="hidden" name="action" value="plugins/savePluginSettings">
    <input type="hidden" name="redirect" value="seomatic/settings" />
    <input type="hidden" name="pluginClass" value="Seomatic">
    {{ getCsrfInput() }}

<!-- Settings -->

    {{ forms.textField({
        label: "Plugin Name"|t,
        instructions: "The plugin name as you'd like it to be displayed in the AdminCP."|t,
        id: 'pluginNameOverride',
        name: 'settings[pluginNameOverride]',
        value: settings.pluginNameOverride,
        autofocus: true,
        first: true,
    }) }}

    <h3>Reviews settings</h3>

    {% set field = craft.fields.getFieldByHandle('productCategory') %}

    {% if field is defined %}
        {{ forms.selectField({
            label: "The category of products where you want to display ratings."|t,
            instructions: "If this field is empty, ratings won't be displayed."|t,
            fieldClass: 'nomarginfield',
            id: 'productCategoryName',
            options: field.settings.options,
            name: 'settings[productCategoryName]',
            value: settings.productCategoryName,
        }) }}
    {% endif %}

    {{ forms.textField({
        label: "Review plugin's handle in camel case e.g.: `someReviewPluginHandle`"|t,
        instructions: "The handle of the review plugin to use for collecting reviews."|t,
        id: 'reviewsPluginHandle',
        name: 'settings[reviewsPluginHandle]',
        value: settings.reviewsPluginHandle,
        autofocus: true,
        first: true,
        require: false
    }) }}

    {{ forms.textField({
        label: "URI to fetch products reviews"|t,
        instructions: "The URI to fetch products reviews."|t,
        id: 'reviewsProductUri',
        name: 'settings[reviewsProductUri]',
        value: settings.reviewsProductUri,
        require: false
    }) }}

    {{ forms.textField({
        label: "URI to fetch services reviews"|t,
        instructions: "The URI to fetch services reviews."|t,
        id: 'reviewsServiceUri',
        name: 'settings[reviewsServiceUri]',
        value: settings.reviewsServiceUri,
        require: false
    }) }}

    <h3>Services settings</h3>

    {{ forms.textField({
        label: "Default service area served"|t,
        instructions: "The country. For example, USA. You can also provide the two-letter <a href=\"http://en.wikipedia.org/wiki/ISO_3166-1\">ISO 3166-1 alpha-2 country code</a>."|t,
        id: 'serviceAreaServedISO',
        name: 'settings[serviceAreaServedISO]',
        value: settings.serviceAreaServedISO,
        require: false
    }) }}

    {{ forms.textField({
        label: "Default audience type"|t,
        instructions: "The target group associated with a given audience (e.g. veterans, car owners, musicians, etc.)."|t,
        id: 'serviceAudienceType',
        name: 'settings[serviceAudienceType]',
        value: settings.serviceAudienceType,
        require: false
    }) }}

    {{ forms.textField({
        label: "Default Provider mobility"|t,
        instructions: "Indicates the mobility of a provided service (e.g. 'static', 'dynamic')."|t,
        id: 'serviceProviderMobility',
        name: 'settings[serviceProviderMobility]',
        value: settings.serviceProviderMobility,
        require: false
    }) }}

<!-- Needed for for Craft < 2.5 -->

        {% if craft.app.version < 2.5 %}
        <div class="item" data-position="left" data-colspan="1">
            <div class="buttons">
                <div class="btngroup submit first">
                    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                </div>
            </div>
        </div>
        {% endif %}


<!-- Needed for for Craft < 2.5 -->

    {% if craft.app.version < 2.5 %}
    </form>
    {% endif %}

{% endset %}
